body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #eeeeec;
  background-color: #000;
}

a
{
  color: #729fcf;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

p
{
  max-width: 800px;
}

.message
{
  max-width: 800px;
  margin: 15px 0;
  padding: 4px 6px;
  background-color: #eeeeec;
  color: #2e3436;
  border-radius: 5px;
}

.message.success
{
  background-color: #9de259;
}

.message.warning
{
  background-color: #fcef88;
}

.message.error
{
  background-color: #bf2121;
  color: #eeeeec;
}

button, input[type=submit], input[type=reset], input[type=button]
{
  padding: 4px 6px;
  background-color: #eeeeec;
  color: #2e3436;
  font-size: 13px;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
}

button+button, input[type=submit]+input[type=submit], input[type=reset]+input[type=reset], input[type=button]+input[type=button]
{
  margin-left: 12px;;
}

button.add
{
  background-color: #9de259;
}

button.edit
{
  background-color: #fcef88;
}

button.delete
{
  background-color: #bf2121;
  color: #eeeeec;
}

fieldset
{
  border: 0;
  border-top: 1px solid #eeeeec;
  margin-top: 22px;
}

legend
{
  font-size: 16px;
  font-weight: 600;
  padding: 0px 5px 2px 5px;
}

.fieldrow
{
  font-size: 14px;
  margin: 15px 0;
  vertical-align: middle;
}

.fieldrow > span
{
  display: inline-block;
}

.fieldrow > div
{
  vertical-align: top;
  display: inline-block;
}

.fieldrow > div > div + div
{
  margin: 7px 0;
}

label
{
  display: inline-block;
  width: 200px;
  text-align: right; 
  padding-right: 8px;
  font-weight: 600;
  /* vertical-align: middle; */
}

label.required
{
  font-weight: 800;
}

label:after
{
  content: ':';
}

label.empty:after
{
  content: '';
}

input[type=text], input[type=password], 
input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=date], input[type=time],
input[type=email], input[type=number], input[type=tel], input[type=url],
select, textarea
{
  display: inline-block;
  color: #2e3436;
  font-size: 13px;
  border-radius: 2px;
  border: 0;
  padding: 5px;
  width: 250px;
  vertical-align: middle;
}

textarea 
{
  vertical-align: top;
}

input[type=checkbox], input[type=radio]
{
  vertical-align: middle;
  position: relative;
  top: -1px;
}

input[type=range], input[type=color]
{
  vertical-align: middle;
}

.hidden
{
  display: none;
}

.table
{
  width: 100%;
  max-width: 800px;
}

.table th
{
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
  text-align: left;
}

.table td
{
  padding: 5px 10px;
  border-bottom: 1px solid #777;
}

.table tr:last-child td
{
  border-bottom: 0;
}

.table th:first-child, .table td:first-child
{
  padding-left: 0px;
}

.table th:last-child, .table td:last-child
{
  padding-right: 0px;
}

.droppable_target_media, .droppable_target_playlist
{
  border: 2px solid rgba(0,0,0,0);
}

.droppable_target_highlighted
{
  border: 2px solid #e09529;
}


#ui-datepicker-div
{
  font-size: 0.8em;
}

.ui-datepicker-calendar
{
  table-layout: fixed;
}
