/* #profile_photo_uploader  #media_file_uploader */

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
  color: #ccc;
  text-align: center;
  width: 100px;
  padding: 3px;  
  background: rgba(0,0,0,0.3);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border: 1px solid #e09529;
  font-size: 0.9em;
}

#media_file_uploader .qq-upload-button { margin: 5px 0px 0px 10px; }

.qq-upload-button-hover { }
.qq-upload-button-focus { }

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {

}
.qq-upload-drop-area-active {}

#profile_photo_uploader .qq-upload-list { padding:0; list-style:none;}
#media_file_uploader .qq-upload-list { padding: 20px 0 20px 30px; list-style: disc; }


.qq-upload-list li { margin:0; padding:0; }
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner { }
.qq-upload-size,.qq-upload-cancel { }

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}


