#playlist_edit_standard_container
{

}

#playlist_items, #playlist_liveassist_items
{
  max-width: 800px;
  min-height: 100px;
  margin: 15px 0;
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}

#playlist_items_drag_help, #playlist_liveassist_drag_help
{
  text-align: center;
  line-height: 100px;
}

#playlist_liveassist_buttons
{
  margin-top: 25px;
}

.playlist_addedit_item, .playlist_addedit_liveassist_item
{
  min-height: 30px;
  padding: 5px;
  border-bottom: 1px solid #000;
}

.playlist_addedit_item:last-child, .playlist_addedit_liveassist_item:last-child
{
  border-bottom: 0;
}

.playlist_addedit_duration
{
  display: block;
  float: right;
  padding-left: 5px;
  padding-bottom: 5px;
}

.playlist_addedit_liveassist_item
{
  background: #666;
}

.playlist_addedit_item, .playlist_addedit_liveassist_item
{
  cursor: pointer;
}

.playlist_addedit_item[data-type=audio]
{
  background: #669;
}

.playlist_addedit_item[data-type=video]
{
  background: #696;
}

.playlist_addedit_item[data-type=image]
{
  background: #966;
}

.playlist_addedit_item[data-type=station_id]
{
  background: #577;
}

.playlist_addedit_item[data-type=dynamic]
{
  background: #666;
}

.playlist_addedit_item[data-type=breakpoint]
{
  background: #996;
  line-height: 30px;
  text-align: center;
}

.playlist_addedit_item.selected, .playlist_addedit_liveassist_item.selected
{
  border: 0;
  outline: 2px solid #a00;
  z-index: 2;
}
