
/* SIDEBAR PLAYER */

#sidebar_player
{
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;

  -webkit-flex: none;
  flex: none;
}

#sidebar_player_draghere
{
  font-size: 1.5em;
  line-height: 196px; 
  border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 2px;
  height: 196px;
}

#sidebar_player video
{
  width: 360px;
  max-height: 196px;
}

#sidebar_search
{
  margin-top: 5px;
  font-size: 0.9em;

  -webkit-flex: auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;

  flex: auto;
  display: flex;
  flex-direction: column;

  z-index:100;
}


/* SIDEBAR SEARCH CONTAINERS */

#sidebar_search_playlist_container
{
  background-color: #555753;
  /* display: flex; done by js */
  -webkit-flex: auto;
  flex: auto;
}

#sidebar_search_media_container
{
  -webkit-flex: auto;
  display: -webkit-flex;

  flex: auto;
  display: flex;
}

#sidebar_search_media_container > *, #sidebar_search_playlist_container > *
{ 
  -webkit-flex: none;
  flex: none; /* some children flex settings overridden below */
}

.sidebar_search_media_container_basic
{
  background-color: #555753;
}

.sidebar_search_media_container_detailed
{
  background: #555753;
}


#sidebar_search_media_results_container, #sidebar_search_playlist_results_container
{
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-flex: 1 1 0px;
  flex: 1 1 0px;
}

#sidebar_search_media_container,#sidebar_search_playlist_container
{
  clear: both;
  z-index: 2;
  position: relative;
  top: -14px;
  padding: 10px;
  border-radius: 0px 5px 5px 5px;
  -moz-border-radius: 0px 5px 5px 5px;

  -webkit-flex-direction: column;
  flex-direction: column;
}

.sidebar_search_detailed
{

  width: 900px;
  position: relative;
  left: -530px; 

}


/* SIDEBAR SEARCH TABS AND BUTTONS */

#sidebar_search_media_pagination_previous a.disabled, #sidebar_search_media_pagination_next a.disabled,
#sidebar_search_playlist_pagination_previous a.disabled, #sidebar_search_playlist_pagination_next a.disabled
{
  color: #888;
  cursor: default;
}
#sidebar_search_media_pagination_previous a.disabled:hover, #sidebar_search_media_pagination_next a.disabled:hover,
#sidebar_search_playlist_pagination_previous a.disabled:hover, #sidebar_search_playlist_pagination_next a.disabled:hover
{
  text-decoration: none;
}

#sidebar_search_tab_media,#sidebar_search_tab_playlist
{
  width: 150px;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

#sidebar_search_tabs
{
  font-size: 1.2em;
  text-transform:lowercase;

  -webkit-flex: none;
  flex: none;
}

#sidebar_search_tabs a
{
  color: #eeeeec;
}

#sidebar_search_tabs a:hover
{
  text-decoration: none;
}

#sidebar_search_media_form, #sidebar_search_playlist_form
{
  padding: 5px;
  text-align: center;
}

#sidebar_search_media_filters
{
  padding-right: 10px;
}

#sidebar_search_tab_media
{
  position: relative;
  top: 11px;
  left: 0px;
  /* z-index: 10; */
}

#sidebar_search_tab_playlist
{
  position: relative;
  top: -14px;
  left: 145px;
  /* z-index: 5; */
} 

.sidebar_search_tab
{
  background-color: #888a85;
  z-index: 1;
}

.sidebar_search_tab.selected
{
  background-color: #555753;
  z-index: 15;
}


#sidebar_search_media_buttons, #sidebar_search_media_select_buttons, #sidebar_search_playlist_buttons, #sidebar_search_playlist_select_buttons
{
  text-align: center;
  padding-bottom: 5px;
  margin: 0px -3px;
}

#sidebar_search_media_buttons, #sidebar_search_playlist_buttons
{
  padding-top: 4px;
}

#sidebar_search_media_select_buttons, #sidebar_search_playlist_select_buttons
{
  padding-top: 10px;
}

.sidebar_search_media_buttons_sep, .sidebar_search_playlist_buttons_sep
{
  border-left: 1px solid #aaa;
  padding-left: 5px;
} 

#sidebar_search_media_input
{
  max-width: 155px;
}

#sidebar_search_media_mode
{
  margin: 3px 0;
}

/* SIDEBAR SEARCH RESULTS */

.sidebar_search_loading
{

}

#sidebar_search_media_headings,
#sidebar_search_playlist_headings,
#sidebar_search_playlist_results,
#sidebar_search_media_results
{
  border-collapse: collapse;
}

#sidebar_search_media_results td, 
#sidebar_search_media_headings th, 
#sidebar_search_playlist_results td, 
#sidebar_search_playlist_headings th
{
  padding: 1px 10px 1px 0;
  text-align: left;
}

#sidebar_search_media_headings th, 
#sidebar_search_playlist_headings th
{
  font-size: 0.9em;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #aaa;
}

#sidebar_search_media_headings,
#sidebar_search_playlist_headings,
#sidebar_search_media_results,
#sidebar_search_playlist_results
{
  width: 100%;
  table-layout: fixed;
}

#sidebar_search_media_results td,
#sidebar_search_playlist_results td
{
  font-size: 0.8em;
  border-bottom: 1px solid #777;
  word-wrap: break-word;
  overflow: hidden;
}

#sidebar_search_media_results .sidebar_search_media_type
{
  width: 10px;
}

#sidebar_search_media_results .sidebar_search_media_artist
{
  width: 125px;
}

#sidebar_search_media_results .sidebar_search_media_title
{
  width: 125px;
}


#sidebar_search_media_results .sidebar_search_media_time
{
  width: 40px;
  padding-right: 0;
}

#sidebar_search_playlist_results .sidebar_search_playlist_name
{
  width: 150px;
}

#sidebar_search_playlist_results .sidebar_search_playlist_description
{
  width: 170px;
}

.sidebar_search_media_result, .sidebar_search_playlist_result
{
  cursor: pointer;
}


#sidebar_search_media_footer .num_results, #sidebar_search_playlist_footer .num_results
{
  font-weight: bold;
}

#sidebar_search_media_footer .results, #sidebar_search_playlist_footer .results
{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

#sidebar_search_media_footer .details
{
  position: relative;
  z-index: 99;
}

.sidebar_search_noresults
{
  color: #999;
  text-align: left;
  font-size: 1.8em;
  padding: 20px 20px 20px 4px;
}

.sidebar_search_loading
{
  width: 340px;
}

.sidebar_search_noresults
{
  width: 900px; /* work for expanded view and collpased view, but a bit messy */
}

.sidebar_search_media_artist
{
  width: 140px; /* see sidebar.js $(document).ready() */
}

.sidebar_search_media_title
{
  width: 140px; /* see sidebar.js $(document).ready() */
}

.sidebar_search_media_time
{
  width: 40px;
}

.sidebar_search_media_detailed_column
{
  width: 90px;
}

.sidebar_search_media_year
{
  width: 30px;
}

.sidebar_search_playlist_name
{
  width: 90px;
}

.sidebar_search_playlist_description
{
  width: 240px; /* see sidebar.js $(document).ready() */
}

#sidebar_search_media_footer, #sidebar_search_playlist_footer
{
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  width: 100%;
  font-size: 0.9em;
  height: 40px;
  padding: 3px 0;
  margin-bottom: 10px;
  position: relative;
}

#sidebar_search_media_footer .details, #sidebar_search_playlist_footer .details
{
  width: 100px;
  height: 40px;
  line-height: 40px;
  float: left;
}

#sidebar_search_media_footer .results, #sidebar_search_playlist_footer .results
{
  height: 40px;
  line-height: 20px;
}

/* SIDEBAR SEARCH RESULTS DRAGGING AND SELECTED */

.sidebar_dragging_items
{
  border: 2px solid #a00;
  padding: 5px;
  font-weight: bold;
  background-color: #ccc;
  color: #333;
  width: 300px;
  text-align: center;
}

.sidebar_search_media_selected, .sidebar_search_playlist_selected
{
  background: rgba(255,255,255,0.8);
  color: #000;
}

/* SIDEBAR CONTEXT MENU */
.context-menu
{
  padding: 5px;
  list-style-type: none;
  background: #333336;
  border-radius: 5px;
}

.context-menu li
{
  padding: 4px;
  font-size: 0.8em;
}

/* MY SEARCHES */

#my_searches_history, #my_searches_history *
{
  cursor: pointer;
}

#my_searches_history_nosearches, #my_searches_saved_nosearches
{
  margin-top: -10px;
}

.my_searches_item
{
  padding: 10px 0;
  border-top: 1px solid #aaa;
}

.my_searches_item:last-child
{
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
}

.my_searches_item:hover
{
  background-color: rgba(255,255,255,0.1);
}

.my_searches_item.context_menu_on
{
  background-color: rgba(255,255,255,0.2);
}

.my_searches_context_menu
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 1px solid #eeeeec;
  background-color: #333336;
  width: 125px;
  padding: 5px;
  cursor: pointer;
}

.my_searches_context_menu > div
{
  padding: 5px;
}

.media_search_item_default_text
{
  font-weight: bold;
  padding-bottom: 5px;
}

#edit_my_search_item_description
{
  height: 75px;
  margin-bottom: 15px;
}

.advanced_search{
  text-align: left;

}
.advanced_search select{
  width:auto;
}
