 #media_upload_form
{
  position: relative;
  max-width: 800px;
  height: 150px;
  margin: 15px 0;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
}

#media_upload_progress
{
  max-width: 800px;
  height: 150px;
  margin: 15px 0;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
  text-align: center;
  line-height: 150px;
  display: none;
}

#media_upload_file_field
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  opacity: 0;
  z-index: 99;
}

#media_upload_file_instructions
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

#media_data_middle .addedit_form_title
{
  font-weight: 600;
  margin-right: 16px;
}

#media_data_middle textarea
{
/*  width: 175px; */
  height: 75px;
}


#media_delete_list > li
{
  padding-bottom: 10px;
}

#media_delete_list ul
{
  padding-left: 10px;
}

.media_genre td
{
  padding:3px 0 0 20px;
}

#media_settings_metadata .ui-sortable-helper
{
  display: block;
  width: 100%;
}

#media_settings_metadata .ui-sortable-helper td
{
  display: none;
}

#media_settings_metadata .ui-sortable-helper td:first-child
{
  display: block;
}

#metadata_select_options
{
  height: 150px;
}

button.copy_to_all
{
  background-color: transparent !important;
  color: inherit; 
  border: 0 !important;
  font-size: 15px;
  margin-left: 6px;
  position: relative;
  top: 1px;
}