#obmenu
{
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1rem;

  > li
  {
    display: block;
    padding: 0;
    position: relative;
  }

  li ul 
  {
    display: block;
    position: absolute;
    bottom: -9999px;
    z-index: 20000;
    opacity: 0;
    transition: opacity 0.2s;
    padding: 10px 0;
  }
  
  li:hover ul 
  {
    opacity: 1;
    bottom: 30px;
  }

  li li {
    font-size: 0.9rem;
    white-space: nowrap;
    display: block;
    padding: 0;
  }

  a {
    color: #ccc;
    text-transform:lowercase;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
  }

  li ul {
    border: 1px solid #eeeeec;
    border-radius: 5px;
    background-color: #555753;
  }
}