html,body
{
  height: 100%;
}

body
{
  margin: 0;
  padding: 0;
	font-family: sans-serif;
	font-size: 14px;
}

h1
{
	margin-top: 0;
}

p, td
{
	font-size: 14px;
}

p:last-child
{
	margin-bottom: 0;
}

#container1
{
  display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-align-items: center;
  -webkit-justify-content: center;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

  height: 100%;
}

#container2
{
	max-width: 600px;
	padding: 20px 15px;
	border: 1px solid #666;
	border-radius: 25px;
}

#login_message
{
  color: #a00;
}
