/* Light On Dark (High Contrast) Theme */

body, 
#main_container,
#footer_box_left a,
#footer_box_right
{
  color: #ffffff; /**/
}

a
{
  color: #6dabdc; /**/
}

body, #main_container
{
  background-color: #17171b; /**/
}

fieldset, #layout_footer
{
  border-top-color: #ffffff; /**/ 
}

.table td
{
  border-bottom: 1px solid #aaa;
}

button, input[type=submit], input[type=reset], input[type=button]
{
  background-color: #ffffff; /**/
  color: #17171b; /**/
}

button.add, button.edit
{
  /* color: #17171b; */ /**/
}

button.add
{
  background-color: #a8ff4b; /**/
}

button.edit
{
  background-color: #ffff8b; /**/
}

button.delete
{
  color: #fff;
}

::-webkit-input-placeholder {
  color: #2e3436;
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  color: #2e3436;
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #2e3436;
  text-align: center;
}

:-ms-input-placeholder {  
  color: #2e3436;
  text-align: center; 
}

::input-placeholder
{
  color: #2e3436;
  text-align: center;
}

.droppable_target_media, .droppable_target_playlist
{
  border: 1px solid #fff !important;
}
.droppable_target_highlighted
{
  border: 1px solid #e09529 !important;
}


.sf-menu li ul {
  background-color: #17171b; /**/
  border: 1px solid #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#sidebar_player
{
  background-color: #17171b;
}

#sidebar_search_playlist_container
{
  background: #17171b; /**/
  border: 1px solid #fff;
}

.sidebar_search_media_container_basic
{
  background: #17171b; /**/
  border: 1px solid #fff;
}

.sidebar_search_media_container_detailed
{
  background: #17171b; /**/
  border: 1px solid #fff;
}

#sidebar_search_tabs
{
  position: relative;
  top: 1px;
}

#sidebar_search_tab_media
{
  top: 12px;
}

.sidebar_search_detailed #sidebar_search_tab_playlist
{
  background-color: #17171b;
}

.sidebar_search_tab
{
  background-color: transparent; /**/
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

.sidebar_search_tab.selected
{
  background-color: #17171b; /**/
  border: 1px solid #fff;
  border-bottom: 0;
  font-weight: bold;
}

#sidebar_search_tabs a
{
  color: #ffffff; /**/
}

.sidebar_search_noresults
{
  color: #fff;
}

.context-menu, .my_searches_context_menu
{
  background-color: #17171b; /**/
  border: 1px solid #fff;
}

#media_upload_form
{
  border: 1px solid #fff;
  background-color: transparent;
}

#playlist_edit_advanced
{
  background-color: transparent;
}

#playlist_items, #playlist_liveassist_items
{
  background-color: transparent;
  border: 1px solid #fff;
}

.playlist_addedit_item[data-type=dynamic], .playlist_addedit_liveassist_item
{
  background-color: #454843; /**/
}

.playlist_addedit_item[data-type=station_id]
{
  background-color: #457474; /**/
}

.playlist_addedit_item[data-type=breakpoint]
{
  background-color: #747441; /**/
}

.playlist_addedit_item[data-type=audio], #playlist_edit_advanced .playlist_addedit_advanced_item_audio
{
  background-color: #5d5da2; /**/
}

.playlist_addedit_item[data-type=image], #playlist_edit_advanced .playlist_addedit_advanced_item.image
{
  background-color: #a25d5d; /**/
}

.playlist_addedit_item[data-type=video], #playlist_edit_advanced .playlist_addedit_advanced_item.video
{
  background-color: #2A512A; /**/
} 

#schedule_container
{
  border: 1px solid #fff;
  background: transparent;
}

#schedule_details
{
  background-color: #17171b;
  border: 1px solid #fff;
}

.schedule_data > div
{
  background-color: #454843;
}

#emergency_list_container
{
  background: transparent;
}

#layout_modal_window
{
  color: #ffffff; /**/
  background-color: #17171b; /**/
  border-color: #ffffff; /**/
}

#ob_ad_manager_drop
{
  padding: 25px;
}

