#tutorial_module-window
{
	width: 450px;
	min-height: 200px;
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: rgba(0,0,0,0.85);
	color: #fff;
	padding: 10px;
	font-size: 0.9em;
	z-index: 20000;
	border-radius: 5px;
	border: 1px solid #fff;
}

#tutorial_module-text
{
	margin-top: 25px;
	text-align: left;
}

#tutorial_module-header div
{
	width: 150px;
	float: left;
}

#tutorial_module-mute
{
	text-align: right;
}

#tutorial_module-exit
{
	text-align: center;
}

#tutorial_module-restart
{
	text-align: left;
}
